<nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/images/logo.jpg);"></a>
<ul class="list-unstyled components mb-5">
  <li class="<%- active1 %>">
    <a href="/" data-toggle="collapse" aria-expanded="false">Home</a>
    
  </li>
  <li class="<%- active2 %>"> 
      <a href="/aboutus">Aboutus</a>
  </li>
  <li class="<%- active3 %>">
    <a href="/contactus">Contactus</a>
</li>
<li class="<%- active4 %>">
    <a href="/projects">Testing Projects</a>
</li>
<li class="<%- active5 %>">
    <a href="/services">Services</a>
</li>
<li class="<%- active6 %>">
    <a href="/resumecv">Curriculum Vitae</a>
</li>

 
</ul>

<%- include('page_footer'); %>

</div>
</nav>
